# compilation and distribution
__pycache__
_ext
*.pyc
#*.so
maskrcnn_benchmark.egg-info/
build/
dist/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# project dirs
/LICENSE
#/setup.py
.flake8
/CONTRIBUTING.md
INSTALL.md
docker
MODEL_ZOO.md
*.odt#

.vscode